#poll-div {
    border: 1px solid #eee;
    color: #333;
    background: rgb(250, 250, 250);
    border-left-width: 1px;
    border-right-width: 1px;
    padding: 0em 2em 2em 2em;
}

#poll-div-button {
    padding-top: 1em;
    float: right;
}

#poll-form {
    padding-left: 1em;
}

input[type="text"].error,
select.error {
    border-color: red;
}

input[type="text"]:focus.error,
select:focus.error {
    border-color: red;
}

#poll-finish {
    display: none;
}

#poll-finish h2 {
    padding: 4em 0 4em 0;
    text-align: center;
}